@charset "UTF-8";
/* CSS Document */

#bot {
    width: 30px;
    height: 30px;
    background: url(foto/tanchiki1.png)  no-repeat #33CCFF;
    border: solid 1px red;
    position: relative;
}
#tank {
    width: 30px;
    height: 30px;
    background: url(foto/tanchiki.png)  no-repeat #ccc;
    border: solid 1px #ccc;
    position: relative;
}
#board {
    width: 510px;
    height: 510px;
    background: #ccc;
    border: solid 1px red;
    position: relative;
}