@charset "windows-1251";
/* CSS Document */

body {
    background-image: url(foto/tree.jpg);
}

p {
    text-indent: 30px;
    text-align: justify;
    font-size: 20px;
}

.zagolovok {
    background-color: #ffff66;
    min-width: 600px;
    max-width: 4000px;
    height: 100px;
    padding: 15px;
    margin: 20px;
    text-align: center;
}

.fon-text {
    background-color: white;
    color: black;
    padding: 30px;
    margin-left: 200px;
    margin-right: 200px;
}
